// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// Adding a master css that will override all css.

#admin-page {
    padding-top:0px;
}

#nested-comment {
    margin-top:30px;
}

.comment-reply{
    display:none;
}